<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="./accesorio.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MusicPro</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./instrumentos.html">Instrumentos</a></li>
                  <li><a class="dropdown-item" href="./accesorios.html">Accesorios</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <div class="form-row">
        <div class="form-group col-md-6">
          <img id="accesorio-imagen" src="" class="img-fluid" alt="accesorio">
        </div>
      
        <div class="form-group col-md-4">
          <div class="card">
            <h5 class="card-header" id="accesorio-titulo"></h5>
            <div class="card-body">
              <h5 class="card-title">Descripción del accesorio</h5>
              <p class="card-text">
                <strong>Precio:</strong> <span id="accesorio-precio"></span><br>
                <strong>Stock:</strong> <span id="accesorio-stock"></span><br>
                <!-- Resto del contenido -->
              </p>
              <!--Botones-->
              <a href="mis_compras.html" id="btn_comprar"  class="btn btn-primary btn-lg">Comprar ahora</a>
              <a href="#" id="btn_agregarCarrito"  class="btn btn-info btn-lg">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>
